#main { width: 100%; min-width: 980px; margin: 0 0 10px; clear: both; color: #76797c; overflow: hidden; }
#content,
#main .content,
#headlines,
#homefooter { width: 980px; margin: 0 auto 10px; padding:0; }

/* BILLBOARD */
#billboard { text-align:center; }
#billboard h1,
#billboard h2 { line-height:1; }
#billboard h1 img,
#billboard h2 img { display:block; margin:0 auto; }

#promosets { position: relative; z-index: 1; width: 100%; height: 776px; }
#promosets .promoset { position: absolute; z-index: 1; top: 0; left: 0; }

/* PROMOS */
.promos ul { width: 990px; height: 155px; margin: 0 -5px; _position: relative; }
.promos ul li { width: 231px; margin-left: 6px; *margin-left: 7px; display: inline-block; *display: inline; *zoom: 1; padding: 3px; _padding-bottom: 0; background: white;  border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; -khtml-border-radius: 5px; -webkit-box-shadow: rgba(0,0,0,0.398438) 0 1px 3px; -moz-box-shadow: rgba(0,0,0,0.398438) 0 1px 3px; box-shadow: rgba(0,0,0,0.398438) 0 1px 3px; border: 1px solid; border-color: #e5e5e5 #dbdbdb #d2d2d2; }
.promos ul li:nth-child(1n) { border: none; } /* reset border for smart browsers */
.promos ul li a { width: 231px; height:149px; margin: 0; padding-top:0; display: block; background: #f5f5f5; background:-webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#eeeeee)); background: -moz-linear-gradient(top, #fafafa, #eeeeee); }
.promos ul li a:hover { background: #fdfdfd; background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#fafafa)); background: -moz-linear-gradient(top, #fdfdfd, #fafafa); }
.promos ul li a img { margin: 0; display: block; }

/* TICKER */
#headlines { position: relative; z-index: 1; }
#ticker { min-height: 26px; margin-bottom: 15px; *margin-bottom: 5px; background: #f6f6f6 url(https://web.archive.org/web/20110609204034im_/http://images.apple.com/home/elements/ticker_btm_grey.gif) no-repeat 0 100%; _height: 26px; }
#ticker p { line-height: 16px; width: 100%; padding-top: 5px; padding-bottom: 0.2em; background: url(https://web.archive.org/web/20110609204034im_/http://images.apple.com/home/elements/ticker_top_grey.gif) no-repeat 0 0; float: left; margin-bottom: 3px; }
#ticker a#ticker-headline { width: 12.5em; margin-right: 1em; color: #565656; font-weight: bold; text-align: center; border-right: 1px solid #808080; display: block; float: left; }
#ticker a#news-headline { padding-left: 15px; color: #a1a5a9; float: right; }
#ticker a { color: #6e6e6e; text-decoration: none; }
#ticker a#news-link { position: relative; z-index: 10; }
#ticker-rss-link { display:none; }

/* HOMEFOOTER */
#homefooter { margin: 0 auto 22px; text-align: center; font-size: 10px; color: #6e6e6e; }
#homefooter .piped a { border-color: #ccc; }

#homefooter #links { border: 1px solid #e5e5e5; border-width: 1px 0; padding: .5em 0; margin: 1.5em 0 2em; *margin-top: .5em; zoom: 1; }
#homefooter #links:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
#homefooter #links p { margin-bottom: 0; }
#homefooter #links p.left { float: left; width: auto; text-align: left; text-indent: 10px; }
#homefooter #links ul.right { float: right; padding-right: 10px; margin-bottom: 0; }
#homefooter #links ul.piped a { padding-left: .5em; margin-left: .5em; }

#homefooter p.left a { margin-right: 0; }
#homefooter p.left { width: 50%; float: left; text-align: left; text-indent: 10px; }
#homefooter p.right { width: 50%; float: right; }
#homefooter p.links { border: 1px solid #e5e5e5; border-width: 1px 0; padding: .5em 0; margin: 1.5em 0 2em; }

#homefooter .sosumi { clear: both; }
#homefooter .sosumi p { margin-bottom: 0; }
#homefooter .sosumi p.copyright { display: inline; padding-right: 0.75em; } 
#homefooter .sosumi ul.piped { display: inline; display: -moz-inline-box; *display: inline; margin-bottom: 0; padding-right: 0.75em;}
#homefooter .sosumi ul.piped li { float: none; }
#homefooter .sosumi ul.piped li a.first { margin-right: -0.2em; }

/* WORLDWIDE */
#worldwide { background: url(https://web.archive.org/web/20110609204034im_/http://images.apple.com/home/elements/home-bg-choosecountry.gif) repeat-x 0 100%; border: 1px solid #e3e3e3; display: inline; padding: 10px 0 8px; *position: relative; z-index: 1; text-align: left; width: 200px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; -khtml-border-radius: 3px; }
#worldwide { *height: 26px; *top: 3px; *margin-left: 10px; *top: 6px; *padding: 0; zoom: 1; }
#worldwide a { height: 30px; padding: 3px 10px 3px 5px; width: 100%; *padding: 0 10px 0 5px; }
#worldwide a:hover { text-decoration: none; }
#worldwide a img { position: relative; z-index: 1; top: 5px; padding: 0 5px 0 0; *float: left; *padding: 0; *top: 0; *margin: 2px 0 2px 3px; }
#worldwide a span.more { background: url(https://web.archive.org/web/20110609204034im_/http://images.apple.com/global/elements/arrows/morearrow_08c.gif) no-repeat 100% 50%; border-left: 1px solid #e3e3e3; cursor: pointer; display: inline-block; line-height: 30px; margin: -5px 0; padding: 0 10px 0 5px; *position: relative; z-index: 1; top: 0; }
#worldwide a span.more { *display: inline; *margin-top: 4px; *top: 0; zoom: 1; *line-height: 20px; }

/*
     FILE ARCHIVED ON 20:40:34 Jun 09, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:14:01 Apr 20, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  PetaboxLoader3.datanode: 122.565 (4)
  RedisCDXSource: 22.999
  CDXLines.iter: 22.599 (3)
  captures_list: 150.123
  exclusion.robots.policy: 0.204
  PetaboxLoader3.resolve: 95.818
  exclusion.robots: 0.22
  esindex: 0.016
  LoadShardBlock: 100.18 (3)
  load_resource: 128.009
*/